<p>Machan,</p>
<p> <%= @name %> has signed up for idea '<%= @idea.title %>' and you can login to <a href='http://mughil.in'>Mughil-Hackathon</a> to see how he has planned to implement it :)</p>
<p>
Thanks,
</p>
<p>
mughil-hackathon team
</p>
