
<table>
  <tr>
    <th>Title</th>
    <th>Desctiption</th>
    <th>Owner</th>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td width="30%"><%= idea.title%></td>
      <td width="50%"><%= link_to idea.desctiption[0..150] + " <<read>>", idea %></td>
      <td width="20%"><%= full_name(idea.owner) %></td>
    </tr>
  <% end %>
</table>
