<p>Machan,</p> 
<p><t/> <b><%= @name %></b> has commented on idea &quot;<b><%= @idea.title %></b>&quot;.</p>
<p>You can login to <a href='http://mughil.in'>Mughil-Hackathon</a> to read the comment.</p>
<p>
Thanks,
</br>
mughil-hackathon team
</p>
