<h1>what is hackathon? </h1>

<p>wiki says...</p>
<p><i>A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others in the field of software development, collaborate intensively on software-related projects and develop a usable product. Hackathons typically last between a day and a week in length. Some hackathons are intended simply for educational or social purposes, although in many cases the goal is to create usable software, or to improve existing software. Hackathons usually have no restrictions on the type of software being created.
</i></p>

<h1>structure of the event</h1>
<ul>
  <li>Hackathons typically start with one or more presentations about the event.</li>
  <li>Then participants suggest ideas and form teams, based on individual interests and skills.</li>
  <li>Then the main work(application development) of the hackathon begins, which can last anywhere from several hours to several days.</li>
  <li>At the end of hackathons, there is usually a series of demonstrations in which each group presents their results.There is sometimes a contest element as well, in which a panel of judges select the winning teams, and prizes are given.</li>
</ul>

<h1>stories about facebook hackathon</h1>
<p>Facebook’s Timeline originally started as a hackathon project and evolved into completely changing the way the profile pages look today.First, the project commenced with a four-person team consisting of two full-time engineers, an engineering intern, and a designer. Together, they managed to build a working demo in a single night!!!<a href="http://www.zdnet.com/blog/btl/facebook-outlines-history-infrastructure-behind-timeline/66313" class="reference">[reference]</a>
</p>
<p>
In past years, Facebook Hackathons have been the starting point for all sorts of new features that rapidly became mainstays of the site, such as Facebook Chat, internationalization, the type-ahead feature in search, the friend suggester, etc. etc. Not every experiment pays off right away, but it’s a low-risk, high-reward setting that encourages engineers to bring to life some of the great ideas that are floating around here.<a href="https://www.facebook.com/note.php?note_id=31942383919" class="reference">[reference]</a></p>
<h1>linkedin hackathon video </h1>
<div style="text-align:center">
  <iframe width="560" height="315"  src="http://www.youtube.com/embed/XCYEd1w5ufQ" frameborder="0" allowfullscreen></iframe>
</div>
<h1>our hackathon</h1>
<p>
<i>
  ours is gonna be a mini version. Unlike the usual ones this is going to last for only 3-5 hrs. except for the span of the event, the goals and rules are the same.
</i></p>

<h1>summarizing, what Hackathons are about</h1>
<ul>
  <li>Moving fast, and breaking things.</li>
  <li>Done is better than perfect.</li>
  <li>Building things.</li>
  <li>Social events.</li>
</ul>

<h1>rules of a Hackathon</h1>
<ul>
  <li>You must demo something at the end of the hackathon.  No powerpoint presentations.</li>
  <li>There are no other rules.</li>
</ul>

<h1>venue rules</h1>
<ul>
  <li>No bittorrenting</li>
  <li>No sniffing the network</li>
  <li>No hacking into other computers</li>
</ul>
