<div class="information">
<h4>Note</h4>
<ul>
<li>Users, Enter the Name field while loging in for the first time.</li>
<li>Username can be gmail or google apps username and password is its corresponding password.</li>
<li>Don't worry. We won't save your password.</li>
</ul> 
</div>
<form name="login" method="post" action="/add_user">
  <div class="login_element"><input id="login_name" name="name" type="text" value="Name"></input></div>
  <div class="login_element"><input id="login_username" name="username" type="text" value="Username"></input></div>
  <div class="login_element"><input id="login_password" name="password" type="password" value="Password"></input></div>
  <div class="login_element"><input type="submit" value="Login"></input></div>
</form>
