<div class="information">
<h4>Note</h4>
<ul>
<li>Enter the NickName field while loging in for the first time. Give some easily identifiable names like Pals, Dhanbun, Kozhi.</li>
<li>For Username and password use your gmail or google apps credentials.</li>
<li>Don't worry. We won't save your password.</li>
</ul> 
</div>
<form name="login" method="post" action="/add_user">
  <div class="login_element"><input id="login_name" name="name" type="text" value="Nick Name"></input></div>
  <div class="login_element"><input id="login_username" name="username" type="text" value="Google mail id"></input></div>
  <div class="login_element"><input type="submit" value="Login"></input></div>
</form>
