
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #181818;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 1.5em;
	margin-left: 10px;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #398A12;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 240px;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
	color: #FFFFFF;
}

.information{
border: 1px solid #999; 
margin-left: 30px;
margin-right: 30px;
margin-top: 30px;
}

#logo h1, #logo p {
	display: block;
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
}

#logo h1 {
  letter-spacing: -5px;
	text-align: center;
	text-transform: lowercase;
	font-size: 80px;
	color: #FFFFFF;
}

#logo h1 a, .glower {
	color: #FFFFFF;
  text-shadow: 2px 2px 34px white;
}

.username {
  font-size: 25px;
  margin: 0px auto;
  width: 980px;
  height: 40px;
}

.username a{
  float: right;
}

#logo p {
	margin-top: -25px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 100px;
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 60px 0 0 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: 940px;
	height: 60px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
	background: orange;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}


#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 2px 2px 2px black;
	font-family: 'Abel', sans-serif;	
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	text-shadow: 2px 2px 2px black;
	background: #980000;
}

#menu a:hover {
	background: #980000;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
  background: black;
  border-radius: 6px;
  border: 1px solid orange;
  opacity: 0.8;
  font-size: 25px;
}

/* Content */

#content {
	float: right;
	width: 590px;
	padding: 30px 30px 0px 30px;
}


.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Footer */

#footer {
	width: 650px;
	height: 100px;
	margin: 0px auto;
	padding-left: 50px;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 1px 1px 1px #050505;
	text-transform: lowercase;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #FFFFFF
}

#footer a {
	text-decoration: underline;
	color: #FFFFFF;
}

/* idea index */

#page table {
border-color: orange;
display: table;
border-spacing: 4px;
}

#page table{
	border: 1px solid #e3e3e3;
	background-color: #000000;
        width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  text-align:center;
  
}
#page table td, #page table th {
	padding: 5px;
}

#page table td a{
text-decoration:none;
} 
#page table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
#page table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 25px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
  text-align:center;
}
#page table td {
	line-height: 35px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	border-top: 1px solid #fff;
  color: white
  white-space:wrap;

}

/* idea index ends */

.login_element {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  margin-left: 30px;
 }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: orange;
  text-decoration: underline;
  &:visited {
    color: #666; }
  &:hover {
    color: orange;
    background-color: #000000; } }

div {
  &.field, &.actions {
     margin-bottom: 10px;
     margin-top: 15px;
     font-size: 15px;

 } }

#notice {
  color: orange; }
.reference{
  font-size:small; 
  vertical-align:top;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.field_label{
  font-size: 25px;
  color: orange;
  margin-left: 5px;
}
.input_field{
font-size: 18px;
}

/* idea new/edit */
.field{
margin-top: 10px;
}
/* idea new/edit ends */
